<!-- modal toggle -->
<template>
  <div class="modal fade fixed top-0 left-0 w-1/2 h-1/3 outline-none overflow-x-hidden overflow-y-auto"
       id="exampleModalScrollable" tabindex="1" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable relative w-auto pointer-events-none">
      <div
          class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
        <div
            class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
            Создание чата
          </h5>
          <button type="button"
                  class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="flex">
          <input v-model="label" type="search" class="block w-80 py-2 pl-1 bg-gray-100 rounded outline-none" name="search"
                 placeholder="Название " required />
          <input v-model="choose" type="search" class="block w-80 py-2 pl-1 bg-gray-100 rounded outline-none" name="search"
                 placeholder="Описание" required />
        </div>
        <div class="modal-body relative p-4 flex">
          <input v-model="selectMember" type="search" class="block w-80 py-2 pl-1 bg-gray-100 rounded outline-none" name="search"
                 placeholder="Добавить участника..." required />
          <button class="pl-2">
            Добавить
          </button>
        </div>
        <div v-model="selectedMember">
          Добавленные учатсники: {{ selectMember }}
        </div>
        <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button"
                  class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-bs-dismiss="modal">
            Close
          </button>
          <button v-on:click="" type="button"
                  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
            Создать
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "createModal",
  data:() => ({
    label: '',
    choose: '',
    selectMember: '',
    selectedMember: ''
  }),
  methods:{

  },
  components: {
    add_member_button: async function () {
      console.log(this.$route.params.id)
    },
    create_chat_button: async function () {
      if (this.selectMember) return alert('Вы не выбрали участника')
      if (this.selectMembers.includes(this.selectMember)) return alert("вы не выбрали юзера")

      this.selectMembers.push(this.selectMember)
      this.selectedMember = ''
    }

  }
}

</script>