<template>
  <div class="container mx-auto">
    <div class="min-w-full border rounded lg:grid lg:grid-cols-4">
      <div class="border-r border-gray-300 lg:col-span-1">
        <div class="mx-3 my-3">
          <div class="relative text-gray-600 flex">
              <span class="absolute inset-y-0 left-0 flex items-center pl-4">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24" class="w-6 h-6 text-gray-300">
                  <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </span>

            <input type="search" class="block w-80 py-2 pl-10 bg-gray-100 rounded outline-none" name="search"
                   placeholder="Search" required />
            <button type="button" class="block w-12 py-1 pl-3 ">
              <img src="../../assets/hahah.png" />
            </button>
          </div>
        </div>

        <ul class="overflow-auto h-[32rem]">

          <h2 class="my-2 mb-2 ml-2 text-lg text-gray-600"></h2>
          <li>
            <div class="element"
              v-for="chat in availableChats"
              v-key="chat._id">
              <a
                class="flex items-center px-3 py-2 text-sm transition duration-150 ease-in-out border-b border-gray-300 cursor-pointer hover:bg-gray-100 focus:outline-none">
              <img class="object-cover w-10 h-10 rounded-full"
                   src="https://cdn.pixabay.com/photo/2018/09/12/12/14/man-3672010__340.jpg" alt="username" />
              <div class="w-full pb-2">
                <div class="flex justify-between">
                  <span class="block ml-2 font-semibold text-gray-600">{{ chat.label }}</span>
                  <span class="block ml-2 text-sm text-gray-600">25 minutes</span>
                </div>
                <span class="block ml-2 text-sm text-gray-600">{{ chat.history.at(-1).from + ":" }}</span>
                <span class="block ml-2 text-sm text-gray-600">{{ chat.history.at(-1).text }}</span>
              </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="hidden lg:col-span-2 lg:block">
      </div>
    </div>
  </div>
</template>


<script>
import axios, {get} from 'axios'
import createModal from "@/components/chat/Create.vue";
export default {
  name: 'chatList',
  components: {
    createModal,
  },
  data: () => ({
    serverUrl: 'http://195.49.210.34/',
    availableChats: [],
  }),
  async mounted() {
    const response = await this.sendRequest('chat', 'GET')
    this.availableChats = response.payload
    console.log(this.availableChats)
  },
  methods: {
    sendRequest: async function (path, method, body) {
      const url = `${this.serverUrl}${path}`
      let response

      // method = method.toLowerCase()
      //
      // return await axios[method](url, body).data()
      //

      if(method === 'GET'){
        return (await axios.get(url)).data
      } else {
        return (await axios.post(url, body)).data
      }

    }
  }
}
</script>