<template>
  <div class="container mx-auto">
    <chat-list/>
  </div>
</template>

<script>
import axios from "axios";
import {info} from "autoprefixer";
import chatList from "@/components/chat/List.vue";
import ChatList from "@/components/chat/List.vue";

let cahts = null
export default {
  name: 'Home',
  components: {ChatList},
  data: () => ({
    serverUrl: "http://195.49.210.34/"
  }),
  comments: {

  },


}



</script>
