<template>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="https://media.istockphoto.com/id/1219192573/photo/foggy-glass-on-window-with-written-finger-word-yellow-color-hope-in-paint-heart-concept-photo.jpg?s=612x612&w=0&k=20&c=kRFklw0Ult-livgO5PPPmtdSl_YRbJwhyUSQ8-HyHZE=" alt="logo">
        Shop
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Login into your account
          </h1>
          <form class="space-y-4 md:space-y-6" action="#">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input v-model="logData.login"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="Madina" >
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input v-model="logData.password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="madina" >
            </div>
            <button v-on:click.prevent="loginHandler" type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Login in</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Dont have an account?
              <button v-on:click="toregpush">
              <a class="font-medium text-primary-600 hover:underline dark:text-primary-500">Register here</a>
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src

import router from "@/router";

export default {
  name: 'LoginView',
  data: () => ({
    serverUrl: "http://195.49.210.34/",
    logData: {
      login: '',
      password: ''
    },
    response: {}
  }),
  components: {
    // eslint-disable-next-line vue/no-unused-components
  // footer2
  },
  methods: {
    toregpush: function(){
      router.push("/register")
    },
     loginHandler: async function () {
      if (!this.logData.login || !this.logData.password){}
      const request_body = {
        userData: {
          login: this.logData.login,
          password: this.logData.password
        }
      }
      const response = await this.sendRequest('user/authorization', 'POST', request_body)
       if (response.info.status === 'OK' && response.payload.isAuth){
         this.router.push({name: 'Home', params: {id: response.payload_id}})
         console.log(response.info.status)
       } else if (response.info.status == null){
         return alert(response.payload)
       }

     },
    sendRequest: async function (path, method, body) {
      const url = `${this.serverUrl}${path}`
      const request_config = {
        method,
        headers: {
          "Content-Type": "application/json"
        },
        body: null
      }
      console.log(this.sendRequest)

      if (method !== 'GET') request_config.body = JSON.stringify(body)

      const response = await fetch(url, request_config)

      return await response.json();
    }
  }
}
</script>
