<template>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="https://media.istockphoto.com/id/1219192573/photo/foggy-glass-on-window-with-written-finger-word-yellow-color-hope-in-paint-heart-concept-photo.jpg?s=612x612&w=0&k=20&c=kRFklw0Ult-livgO5PPPmtdSl_YRbJwhyUSQ8-HyHZE=" alt="logo">
        Shop
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Create account
          </h1>
          <form class="space-y-4 md:space-y-6">
            <div>
              <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input v-model="regData.login" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" >
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input v-model="regData.password" type="password"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
            </div>
            <div>
              <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
              <input v-model="regData.tryPassword" type="password"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
            </div>
<!--            <div class="flex items-start">-->
<!--              <div class="flex items-center h-5">-->
<!--                <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">-->
<!--              </div>-->
<!--              <div class="ml-3 text-sm">-->
<!--                <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>-->
<!--              </div>-->
<!--            </div>-->
            <button v-on:click.prevent="registrationClickHandler"  class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Already have an account?
              <button v-on:click="tologpush">
                <a class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
              </button>
            </p>
          </form>
        </div>
      </div>
      {{response}}
    </div>
  </section>
</template>

<script>
// @ is an alias to /src

import router from "@/router";
import axios from "axios";
export default {
  name: 'RegisterView',
  data: () => ({
    serverUrl: "http://195.49.210.34/",
  regData: {
    login: '',
    password: '',
    tryPassword: '',
  },
    response: {}
  }),
  components: {

  },
  methods: {
    tologpush: function (){
      router.push("/login")
    },
    registrationClickHandler: async function () {
      if (!this.regData.login || !this.regData.password || !this.regData.tryPassword){}
      const request_body = {
        userData: {
          login: this.regData.login,
          password: this.regData.password,
          tryPassword: this.regData.tryPassword
        }
      }
      const response = await this.sendRequest('user/registration', 'POST', request_body)
      // const errors = [400, 401, 402, 403, 404, 405]
      // console.log(response.payload)
      // console.log(this.response?.response)
      if (response.info.status !== 200) {
        alert(response.payload)
      } else if (response.info.status === 200) {
        return router.push("/")
      }

    },
    sendRequest: async function (path, method, body) {
      const url = `${this.serverUrl}${path}`
      const request_config = {
        method,
        headers: {
          "Content-Type": "application/json"
        },
        body: null
      }
      console.log(this.sendRequest)

      if (method !== 'GET') request_config.body = JSON.stringify(body)

      const response = await fetch(url, request_config)

      return await response.json();

    }
  }
}
</script>
