<template>
  <div id="app" class="dark:bg-gray-800">
    <nav>
      <router-link to="/register">Registration</router-link> |
      <router-link to="/login">Login</router-link>
    </nav>
    <router-view/>
    <footer2/>

  </div>
</template>

<script>
import footer2 from './components/Footer.vue'
export default {
  name: "app",
  components: {
    footer2
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #ffffff;
}
</style>
<script setup>
import Footer2 from "@/components/Footer.vue";
</script>